.bookDetail-wrapper { 
    font-family: 'Source Sans Pro', sans-serif; 
    color: #4c4a37;
    font-size: 15px; 
    line-height: 32px; 
    margin: 0 0 24px; 
    padding: 80px;
    position: relative;
    text-align: center;
    display: flex;
}

.book-detail {
    display: block;
}

.description {
    margin: 30px;
    text-align: left;
}

.comment-form {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 80px;
}
