.bookDetail-wrapper { 
    font-family: 'Source Sans Pro', sans-serif; 
    color: #4c4a37;
    font-size: 15px; 
    line-height: 32px; 
    margin: 0 0 24px; 
    padding: 80px;
    position: relative;
    text-align: center;
}

