.BooksHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:white;
  background-image: url(https://images.unsplash.com/photo-1594145070100-c771df5152fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&q=80);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  text-align: center;
  height: 300px;
  width: 100%;
}

.BooksHero-title {
  color: white; 
  position: absolute;
  background: #00000022;
  font-family: 'Trocchi', serif; 
  font-size: 60px; 
  font-weight: bolder; 
  line-height: 48px; 
  margin: 0; 
  padding: 10px;
  box-shadow: 2px 2px 1px 2px;
}