ul {
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif; 
    color: #4c4a37;
    font-size: 15px; 
    line-height: 32px; 
    margin: 0 0 24px; 
    margin-top: 30px;
    padding: 100px;
}
