.BooksHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:white;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwjo_wA9A0RcyDIDdJeToi5SfGGMFG7KEoHg&usqp=CAU);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  text-align: center;
  height: 256px;
  width: 100%;
}

.BooksHero-title {
  color: #7c795d; 
  font-family: 'Trocchi', serif;
  font-size: 45px; 
  font-weight: bold; 
  line-height: 48px; 
  margin: 16px 0;
}